/*----------------- Colours*/

/* --- Button Starter Colors */

$green: #38d639;
$red: #d5393a;
$yellow: #d9d82e;
$blue: #3130d3;

$aquaMarine: #73EEDC;
$glitter: #EAE8FF;
$silk: #F9DEC9;
$gainsboro: #D8D5DB;

$antiFlashWhite: #E2F3F5;
$deepCerise: #D93694;
$darkLavinder: #734095;
$spaceCadet: #262F4C;

$black: #000000;
$purple: #e00ee6;
$cyan: #466c7d;

/* --- Highlighted Colors */

$highlightedGreen: #00ff00;
$highlightedRed: #ff0000;
$highlightedYellow: #ffff00;
$highlightedBlue: #8200ff;

$highlightedCyan: #129cd6;

/* ---Theme Colors */

$maroon: #d60b0b;
$purpleBlue: #4a33d6;
$white: #ffffff;

$header-blue-1: #3498db;
$header-blue-2: #2980b9;


