/* ---------------------------------------------------------------    Helpers */

%backgroundImagesContain {
        -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

%backgroundImagesCover {
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inline {
    width: 49.5%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    float: left;
}

.uppercase {
    text-transform: uppercase;
}

%center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}