/* --- Widths */

$mobileMaxWidth: 360px;
$tabletMaxWidth: 768px;
$desktopMaxWidth: 1200px;


@mixin mobile {
    @media (max-width: $mobileMaxWidth - 1px){
        @content
    }
}

@mixin tablet {
     @media (min-width: $mobileMaxWidth) and (max-width: $tabletMaxWidth - 1px){
        @content
    }
}

@mixin desktop {
     @media (min-width: $tabletMaxWidth) and (max-width: $desktopMaxWidth){
        @content
    }
}