/*----------------- Colours*/

$green: #38d639;
$red: #d5393a;
$yellow: #d9d82e;
$blue: #3130d3;

$white: #ffffff;
$black: #000000;
$purple: #e00ee6;
$cyan: #466c7d;

$maroon: #d60b0b;
$purpleBlue: #4a33d6;

$highlightedGreen: #00ff00;
$highlightedRed: #ff0000;
$highlightedYellow: #ffff00;
$highlightedBlue: #8200ff;

$highlightedCyan: #129cd6;
