@import "helpers/colors";
@import "helpers/media-queries";
@import "helpers/helpers";
@import "components/grid";
@import "components/buttons";
@import "components/images";
@import "components/animations";

/* ---------------------------------- General Styles */

html, 
body {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    max-width: $application-max-width;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a, a:visited {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    color: $white;
    background-image: -webkit-linear-gradient(top, $header-blue-1 , $header-blue-2);
    background-image: -moz-linear-gradient(top, $header-blue-1 , $header-blue-2);
    background-image: -ms-linear-gradient(top, $header-blue-1 , $header-blue-2);
    background-image: -o-linear-gradient(top, $header-blue-1 , $header-blue-2);
    background-image: linear-gradient(top, $header-blue-1 , $header-blue-2);
    margin: 0 10px;
    padding: 5px;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    text-shadow: 8px 5px 12px rgb(47, 35, 144);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Do Hyeon', sans-serif;
    
    
    @include large-mobile {
        font-size: 34px;
    }
    @include tablet {
        font-size: 62px;
    }
    @include large-tablet {
        font-size: 64px;
    }
    @include desktop {
        font-size: 36px;
    }
}

h2 {
    font-size: 22px;
    margin: 0 auto;
    
    @include large-mobile {
        font-size: 24px;
    }
    @include tablet {
        font-size: 26px;
    }
    @include large-tablet {
        font-size: 28px;
    }
    @include desktop {
        font-size: 16px;
    }
}

p,
.results-para {
    font-size: 14px;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 600px;
    
    @include large-mobile {
        font-size: 16px;
    }
    @include tablet {
        font-size: 18px;
    }
    @include large-tablet {
        font-size: 20px;
    }
    @include desktop {
        font-size: 12px;
    }
}

.big-num {
    margin: -45px 0 0;
    font-size: 90px;
}

.game-play-message {
    margin: -30px 0 0;
    font-size: 35px;
}

.game-win-message {
    font-size: 25px;
    max-width: 78%;
}

.try-again {
    color: $purple;
    margin-top: 12px;
}

.settings-container,
.sliding-game-box:after,
section:after {
    clear: both;
    content: "";
    display: block;
}

/* ----------------------------------- Opening Logo Page */

.logo {
    background-color: #000;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
}

.logo .container {
    @extend %center-container;
    height: 100%;
}

.logo-pic {
    width: 50%;
    max-width: 175px;
}

.logo-para {
    color: #fff;
}

/* ----------------------------------- Instructions / Settings Boxes */

.settings-container,
.instructions-container {
    display: none;
    max-width: $application-max-width;
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: $header-blue-2;
    
}

.settings,
.instructions {
    @extend %center-container;
    color: $white;
    height: 100%;
}

.instructions-box p {
    margin: 26px 0;
}

.settings-box {
    width: 100%;
}

.settings-box .row {
    margin: 40px auto;
    width: 100%;
}

.settings-box p {
    margin: 20px auto;
}