/*----------------- Colours*/
/* --- Button Starter Colors */
/* --- Highlighted Colors */
/* ---Theme Colors */
/* --- Widths */
.results-image {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.picture {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.inline {
  width: 49.5%;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  float: left; }

.uppercase {
  text-transform: uppercase; }

/* ----------------Menu Buttons */
button:focus {
  outline: none; }

button {
  margin: 10px auto;
  max-width: 120px; }

.game-mode {
  color: #ffffff;
  letter-spacing: 1.5px;
  width: 120px;
  display: inline-block;
  font-size: 12px;
  background-image: -webkit-linear-gradient(top, #777777, #000);
  background-image: -moz-linear-gradient(top, #777777, #000);
  background-image: -ms-linear-gradient(top, #777777, #000);
  background-image: -o-linear-gradient(top, #777777, #000);
  background-image: linear-gradient(to bottom, #777777, #000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Do Hyeon', sans-serif;
  padding: 5px; }

/* ----------------Game Buttons */
.game-button {
  width: 40%;
  height: 100px;
  margin: 10px 5px; }

#button1,
#button4 {
  border-radius: 100% 40% 100% 40%; }

#button2,
#button3 {
  border-radius: 40% 100% 40% 100%; }

.bt1 {
  background-color: #38d639; }

.bt2 {
  background-color: #d5393a; }

.bt3 {
  background-color: #d9d82e; }

.bt4 {
  background-color: #3130d3; }

.button-color1 {
  background-color: #00ff00; }

.button-color2 {
  background-color: #ff0000; }

.button-color3 {
  background-color: #ffff00; }

.button-color4 {
  background-color: #8200ff; }

.button-color5 {
  background-color: #129cd6; }

.button-color6 {
  background-color: #129cd6; }

.button-color7 {
  background-color: #129cd6; }

.button-color8 {
  background-color: #129cd6; }

.button-color9 {
  background-color: #129cd6; }

.button-color10 {
  background-color: #129cd6; }

.button-color11 {
  background-color: #129cd6; }

.button-color12 {
  background-color: #129cd6; }

.button-color13 {
  background-color: #129cd6; }

/* ----------------Picture Game Buttons */
.button-row {
  display: block;
  height: 83px; }

.pic-game-button {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 83px;
  border: 0; }

.disappear {
  opacity: 0; }

.pb1 {
  background-color: #38d639; }

.pb2 {
  background-color: #d5393a; }

.pb3 {
  background-color: #d9d82e; }

.pb4 {
  background-color: #3130d3; }

.pb5 {
  background-color: #73EEDC; }

.pb6 {
  background-color: #EAE8FF; }

.pb7 {
  background-color: #F9DEC9; }

.pb8 {
  background-color: #D8D5DB; }

.pb9 {
  background-color: #E2F3F5; }

.pb10 {
  background-color: #D93694; }

.pb11 {
  background-color: #734095; }

.pb12 {
  background-color: #262F4C; }

.pb13 {
  background-color: #ffffff; }

.gameover-button-color {
  background-color: #000000; }

/*------------------Evaluation Images */
.patrick {
  background-image: url("../pictures/patrick.jpg"); }

.einstein {
  background-image: url("../pictures/einstein.jpg"); }

.trump {
  background-image: url("../pictures/trump.jpg"); }

.clever {
  background-image: url("../pictures/clever.png"); }

/*------------------ Picture game Images */
.pic1 {
  background-image: url("../pictures/pic1.jpg"); }

.pic2 {
  background-image: url("../pictures/pic2.jpg"); }

.pic3 {
  background-image: url("../pictures/pic3.jpg"); }

.pic4 {
  background-image: url("../pictures/pic4.jpg"); }

.pic5 {
  background-image: url("../pictures/pic5.jpg"); }

.pic6 {
  background-image: url("../pictures/pic6.jpg"); }

.pic7 {
  background-image: url("../pictures/pic7.jpg"); }

.pic8 {
  background-image: url("../pictures/pic8.jpg"); }

.pic9 {
  background-image: url("../pictures/pic9.jpg"); }

.pic10 {
  background-image: url("../pictures/pic10.jpg"); }

.pic11 {
  background-image: url("../pictures/pic11.jpg"); }

.pic12 {
  background-image: url("../pictures/pic12.jpg"); }

/* ---------------------------------- Initial Styles */
html,
body {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  max-width: 320px; }

body {
  padding: 0 10px; }

.logo {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  left: 0; }

.logo-pic {
  width: 50%;
  max-width: 150px;
  height: 24vh;
  margin: 33.3vh 0 0; }

header {
  box-sizing: border-box;
  margin: 10px auto 30px;
  min-width: 280px; }

h1 {
  font-size: 30px;
  max-width: 320px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  margin: 0 auto;
  padding: 5px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  text-shadow: 8px 5px 12px #2f2390;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Do Hyeon', sans-serif; }

h2 {
  font-size: 20px;
  margin: 5px; }

.uppercase {
  text-transform: uppercase; }

.sliding-box {
  position: absolute;
  left: 0;
  width: 100%;
  min-width: 250px; }

.welcome-area,
.mode-box,
.start-box,
.start-pic-mode-box,
.feedback-box {
  width: 100%;
  margin: 0 auto; }

.welcome-box {
  z-index: 10; }

.start-box,
.start-pic-mode-box {
  z-index: 5; }

.mode-box {
  z-index: 12; }

.mode-box,
.start-box,
.feedback-box,
.sgb2,
.sgb3,
.start-pic-mode-box {
  display: none; }

.start-area {
  margin-bottom: 50px;
  padding: 65px 0 0 0; }

.section1-container {
  position: relative;
  min-height: 210px;
  min-width: 250px;
  padding: 0 10px; }

.section2-container {
  position: relative;
  min-width: 250px;
  min-height: 250px; }

.sliding-game-box {
  width: 100%;
  position: absolute;
  padding: 0 0 0; }

.sgb1 {
  z-index: 3;
  background-color: #fff; }

.sgb2 {
  z-index: 1;
  background-color: #fff; }

.sgb3 {
  z-index: 2;
  background-color: #fff; }

.results-para {
  font-size: 20px; }

.results-image {
  display: none;
  width: 130px;
  height: 130px;
  margin: 0 auto; }

.big-num {
  font-size: 90px;
  margin: 50px 0 0; }

.game-play-message {
  margin: 50px 5px 0;
  font-size: 35px; }

.game-win-message {
  font-size: 35px; }

.logo-para {
  color: #fff; }

.top,
.middle,
.bottom {
  min-height: 50px;
  box-sizing: border-box; }

.flipInX {
  animation-name: flipInX;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

/*# sourceMappingURL=styles.css.map */
