@import "helpers/variables";
@import "helpers/media-queries";
@import "helpers/helpers";
@import "components/buttons";
@import "components/images";


/* ---------------------------------- Initial Styles */

body {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Do Hyeon', sans-serif;
    max-width: 420px;
}

header {
    margin-bottom: 10px;
    border-top: 13px solid $purpleBlue;
    border-bottom: 13px solid $purpleBlue;
    min-width: 250px;
}

h1 {
    font-size: 30px;
    color: $white;
    background-color: $maroon;
    margin: 0;
    padding: 5px;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    text-shadow: 8px 5px 12px rgb(47, 35, 144);
}

h2 {
    font-size: 24px;
    margin: 5px;
}

.uppercase {
    text-transform: uppercase;
}

.sliding-box {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 150px;
    min-width: 250px;
}

.welcome-area,
.game-area,
.start-area,
.feedback-area {
    width: 90%;
    margin: 0 auto;
}

.welcome-box {
    z-index: 10;
}

.start-box,
.start-pic-mode-box {
    z-index: 5;
}

.mode-box {
    z-index: 12;
}

.mode-box,
.start-box,
.feedback-box,
.sgb2,
.sgb3,
.start-pic-mode-box {
    display: none;
}

.start-area {
    margin-bottom: 50px;
    padding: 65px 0 0 0;
}

.section1-container {
    position: relative;
    min-height: 220px;
    min-width: 250px;
    margin-bottom: 10px;
}

.section2-container {
    position: relative;
    min-width: 250px;
    min-height: 250px;
}

.sliding-game-box {
    width: 100%;
    position: absolute;
    padding: 0 0 0;
}

.sgb1 {
    z-index: 3;
    background-color: #fff;
}

.sgb2 {
    z-index: 1;
    background-color: #fff;
}

.sgb3 {
    z-index: 2;
    background-color: #fff;
}

.results-para {
    font-size: 20px;
}

.results-image {
    display: none;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    @extend %backgroundImagesContain;
}

.picture {
   @extend %backgroundImagesCover;
}



.big-num {
    font-size: 90px;
    margin: 50px 0 0;
}

.game-play-message {
    margin: 50px 5px 0;
    font-size: 35px;
}

.game-win-message {
    font-size: 35px;
}
