/*----------------- Colours*/
/* --- Button Starter Colors */
/* --- Highlighted Colors */
/* ---Theme Colors */
/* --- Widths */
/* ---------------------------------------------------------------    Helpers */
.results-image {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.picture {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.inline {
  width: 49.5%;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  float: left; }

.uppercase {
  text-transform: uppercase; }

/* --- General Sizes Variables & Scaling--- */
/* ----------------------------------------------------------------Grid Sizes */
/* --- heights --- */
/* --- widths --- */
/* ---------------------------------------------------------------Grid Layout */
body {
  min-height: 568px; }
  @media (min-width: 321px) and (max-width: 500px) {
    body {
      min-height: 624.8px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    body {
      min-height: 965.6px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    body {
      min-height: 1249.6px; } }
  @media (min-width: 1025px) {
    body {
      min-height: 908.8px; } }

.header-section {
  box-sizing: border-box;
  margin: 10px auto 30px;
  min-width: 288px; }

.section1-container,
.section2-container,
.sliding-box,
.sliding-game-box {
  min-height: 213px;
  max-width: 500px;
  margin: 0 auto; }
  @media (min-width: 321px) and (max-width: 500px) {
    .section1-container,
    .section2-container,
    .sliding-box,
    .sliding-game-box {
      min-height: 234.3px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .section1-container,
    .section2-container,
    .sliding-box,
    .sliding-game-box {
      min-height: 362.1px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .section1-container,
    .section2-container,
    .sliding-box,
    .sliding-game-box {
      min-height: 468.6px;
      max-width: 1100px; } }
  @media (min-width: 1025px) {
    .section1-container,
    .section2-container,
    .sliding-box,
    .sliding-game-box {
      min-height: 340.8px;
      max-width: 800px; } }

.section1-container .sliding-box {
  left: 0; }

.section1-container,
.section2-container {
  position: relative;
  min-width: 250px; }
  .section1-container .sliding-box,
  .section1-container .sliding-game-box,
  .section2-container .sliding-box,
  .section2-container .sliding-game-box {
    width: 100%;
    position: absolute;
    padding: 0 0 0; }

.top,
.middle,
.bottom {
  min-height: 71px;
  box-sizing: border-box; }
  @media (min-width: 321px) and (max-width: 500px) {
    .top,
    .middle,
    .bottom {
      min-height: 78.1px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .top,
    .middle,
    .bottom {
      min-height: 120.7px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .top,
    .middle,
    .bottom {
      min-height: 156.2px; } }
  @media (min-width: 1025px) {
    .top,
    .middle,
    .bottom {
      min-height: 113.6px; } }

.top-sec2,
.middle-sec2 {
  min-height: 42.6px;
  box-sizing: border-box; }
  @media (min-width: 321px) and (max-width: 500px) {
    .top-sec2,
    .middle-sec2 {
      min-height: 46.86px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .top-sec2,
    .middle-sec2 {
      min-height: 72.42px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .top-sec2,
    .middle-sec2 {
      min-height: 93.72px; } }
  @media (min-width: 1025px) {
    .top-sec2,
    .middle-sec2 {
      min-height: 68.16px; } }

.bottom-sec2 {
  min-height: 127.8px; }
  @media (min-width: 321px) and (max-width: 500px) {
    .bottom-sec2 {
      min-height: 93.72px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .bottom-sec2 {
      min-height: 144.84px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .bottom-sec2 {
      min-height: 187.44px; } }
  @media (min-width: 1025px) {
    .bottom-sec2 {
      min-height: 136.32px; } }

.welcome-area,
.mode-box,
.start-box,
.start-pic-mode-box,
.feedback-box {
  width: 100%;
  margin: 0 auto; }

.mode-box {
  z-index: 6; }

.welcome-box {
  z-index: 5; }

.start-box,
.start-pic-mode-box {
  z-index: 4; }

.sgb1 {
  z-index: 3;
  background-color: #fff; }

.sgb3 {
  z-index: 2;
  background-color: #fff; }

.sgb2 {
  z-index: 1;
  background-color: #fff; }

.mode-box,
.start-box,
.feedback-box,
.sgb2,
.sgb3,
.start-pic-mode-box {
  display: none; }

.start-area {
  margin-bottom: 50px;
  padding: 65px 0 0 0; }

.mode-btn-row {
  max-width: 500px;
  margin: 0 auto; }

/* ----------------Menu Buttons */
button:focus {
  outline: none; }

button {
  margin: 10px auto;
  max-width: 230px; }

.game-mode {
  color: #ffffff;
  display: inline-block;
  background-image: -webkit-linear-gradient(top, #777777, #000);
  background-image: -moz-linear-gradient(top, #777777, #000);
  background-image: -ms-linear-gradient(top, #777777, #000);
  background-image: -o-linear-gradient(top, #777777, #000);
  background-image: linear-gradient(to bottom, #777777, #000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 1.5px;
  width: 120px;
  font-size: 14px;
  padding: 5px; }
  @media (min-width: 321px) and (max-width: 500px) {
    .game-mode {
      letter-spacing: 1.65px;
      width: 132px;
      font-size: 15.4px;
      padding: 5.5px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .game-mode {
      letter-spacing: 2.55px;
      width: 204px;
      font-size: 23.8px;
      padding: 8.5px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .game-mode {
      letter-spacing: 3.3px;
      width: 264px;
      font-size: 30.8px;
      padding: 11px; } }
  @media (min-width: 1025px) {
    .game-mode {
      letter-spacing: 2.4px;
      width: 192px;
      font-size: 22.4px;
      padding: 8px; } }

/* ----------------Game Buttons */
.game-button {
  width: 40%;
  height: 100px;
  margin: 10px 5px; }
  @media (min-width: 321px) and (max-width: 500px) {
    .game-button {
      height: 110px;
      margin: 11px 5.5px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .game-button {
      height: 170px;
      margin: 17px 8.5px;
      width: 45%; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .game-button {
      height: 220px;
      margin: 22px 11px;
      width: 45%; } }
  @media (min-width: 1025px) {
    .game-button {
      height: 160px;
      margin: 16px 8px;
      width: 45%; } }

#button1,
#button4 {
  border-radius: 100% 40% 100% 40%; }

#button2,
#button3 {
  border-radius: 40% 100% 40% 100%; }

.bt1 {
  background-color: #38d639; }

.bt2 {
  background-color: #d5393a; }

.bt3 {
  background-color: #d9d82e; }

.bt4 {
  background-color: #3130d3; }

.button-color1 {
  background-color: #00ff00; }

.button-color2 {
  background-color: #ff0000; }

.button-color3 {
  background-color: #ffff00; }

.button-color4 {
  background-color: #8200ff; }

.button-color13 {
  background-color: #129cd6; }

/* ----------------Picture Game Buttons */
.button-row {
  display: block; }

.pic-game-button {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

.button-row,
.pic-game-button {
  height: 71px; }
  @media (min-width: 321px) and (max-width: 500px) {
    .button-row,
    .pic-game-button {
      height: 78.1px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    .button-row,
    .pic-game-button {
      height: 120.7px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .button-row,
    .pic-game-button {
      height: 156.2px; } }
  @media (min-width: 1025px) {
    .button-row,
    .pic-game-button {
      height: 113.6px; } }

.disappear {
  opacity: 0; }

.pb1 {
  background-color: #38d639; }

.pb2 {
  background-color: #d5393a; }

.pb3 {
  background-color: #d9d82e; }

.pb4 {
  background-color: #3130d3; }

.pb5 {
  background-color: #73EEDC; }

.pb6 {
  background-color: #EAE8FF; }

.pb7 {
  background-color: #F9DEC9; }

.pb8 {
  background-color: #D8D5DB; }

.pb9 {
  background-color: #E2F3F5; }

.pb10 {
  background-color: #D93694; }

.pb11 {
  background-color: #734095; }

.pb12 {
  background-color: #262F4C; }

.pb13 {
  background-color: #ffffff; }

.gameover-button-color {
  background-color: #000000; }

/*------------------ Image Display */
.results-image {
  display: none;
  width: 130px;
  height: 130px;
  margin: 0 auto; }

/*------------------Evaluation Images */
.patrick {
  background-image: url("../pictures/patrick.jpg"); }

.einstein {
  background-image: url("../pictures/einstein.jpg"); }

.trump {
  background-image: url("../pictures/trump.jpg"); }

.clever {
  background-image: url("../pictures/clever.png"); }

/*------------------ Picture game Images */
.pic1 {
  background-image: url("../pictures/pic1.jpg"); }

.pic2 {
  background-image: url("../pictures/pic2.jpg"); }

.pic3 {
  background-image: url("../pictures/pic3.jpg"); }

.pic4 {
  background-image: url("../pictures/pic4.jpg"); }

.pic5 {
  background-image: url("../pictures/pic5.jpg"); }

.pic6 {
  background-image: url("../pictures/pic6.jpg"); }

.pic7 {
  background-image: url("../pictures/pic7.jpg"); }

.pic8 {
  background-image: url("../pictures/pic8.jpg"); }

.pic9 {
  background-image: url("../pictures/pic9.jpg"); }

.pic10 {
  background-image: url("../pictures/pic10.jpg"); }

.pic11 {
  background-image: url("../pictures/pic11.jpg"); }

.pic12 {
  background-image: url("../pictures/pic12.jpg"); }

/* -------------------------------------------------------------   Animations */
.flipInX {
  animation-name: flipInX;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running; }

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }
/* ---------------------------------- General Styles */
html,
body {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  max-width: 850px;
  overflow-x: hidden; }

body {
  padding: 10px 10px; }
  @media (min-width: 321px) and (max-width: 500px) {
    body {
      padding: 11px 11px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    body {
      padding: 17px 17px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    body {
      padding: 22px 22px; } }
  @media (min-width: 1025px) {
    body {
      padding: 16px 16px; } }

h1 {
  font-size: 30px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  margin: 0 auto;
  padding: 5px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  text-shadow: 8px 5px 12px #2f2390;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Do Hyeon', sans-serif; }
  @media (min-width: 321px) and (max-width: 500px) {
    h1 {
      font-size: 33px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    h1 {
      font-size: 51px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    h1 {
      font-size: 66px; } }
  @media (min-width: 1025px) {
    h1 {
      font-size: 48px; } }

h2 {
  font-size: 20px;
  margin: 0 auto; }
  @media (min-width: 321px) and (max-width: 500px) {
    h2 {
      font-size: 22px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    h2 {
      font-size: 34px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    h2 {
      font-size: 44px; } }
  @media (min-width: 1025px) {
    h2 {
      font-size: 32px; } }

p,
.results-para {
  font-size: 14px;
  margin: 0 auto; }
  @media (min-width: 321px) and (max-width: 500px) {
    p,
    .results-para {
      font-size: 15.4px; } }
  @media (min-width: 501px) and (max-width: 768px) {
    p,
    .results-para {
      font-size: 23.8px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    p,
    .results-para {
      font-size: 30.8px; } }
  @media (min-width: 1025px) {
    p,
    .results-para {
      font-size: 22.4px; } }

.big-num {
  margin: -45px 0 0;
  font-size: 90px; }

.game-play-message {
  margin: -30px 0 0;
  font-size: 35px; }

.game-win-message {
  font-size: 35px; }

.logo-para {
  color: #fff; }

.try-again {
  color: #e00ee6;
  margin-top: 12px; }

/* ----------------------------------- Opening Logo Page */
.logo {
  background-color: #000;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0; }

.logo-pic {
  width: 50%;
  max-width: 175px;
  max-height: 24vh;
  margin: 33.3vh 0 0; }

/*# sourceMappingURL=styles.css.map */
