/* ---------------------------------- Initial Test Styles */

body {
    text-align: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Do Hyeon', sans-serif;
}

button {
    margin: 10px;
    max-width: 120px;
}

.game-mode {
    width: 95px;
    height: 35px;
    border-radius: 45%;
    position: relative;
}

.start-btn {
    position: relative;
    top: 50px;
}

h1 {
    font-size: 30px;
    margin: 10px;
}

h2 {
    font-size: 25px;
    margin: 5px;
}

.game-button {
    width: 40%;
    height: 100px;
}

#button1,
#button4 {
    border-radius: 100% 40% 100% 40%;
}

#button2,
#button3 {
    border-radius: 40% 100% 40% 100%;
}

.bt1 {
    background-color: #38d639;
}

.bt2 {
    background-color: #d5393a;
}

.bt3 {
    background-color: #d9d82e;
}

.bt4 {
    background-color: #3130d3;
}

.uppercase {
    text-transform: uppercase;
}

.sliding-box {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 150px;
    min-width: 320px;
}

.welcome-area,
.game-area,
.start-area,
.feedback-area {
    width: 90%;
    margin: 0 auto;
}

.welcome-box {
    z-index: 10;
}

.start-box {
    z-index: 5;
}

.mode-box,
.start-box,
.feedback-box,
.sgb2 {
    display: none;
}

.start-area {
    margin-bottom: 50px;
    padding: 20px 0 0 0;
}

header {
    margin-bottom: 30px;
}

.section1-container {
    position: relative;
    min-height: 220px;
    min-width: 320px;
}

.section2-container {
    position: relative;
    min-height: 250px;
}

.sliding-game-box {
    width: 100%;
    position: absolute;
    padding: 0 0 0;
}

.sgb1 {
    z-index: 2;
    background-color: #fff;
}

.sgb2 {
    z-index: 1;
    background-color: #fff;
}

.results-para {
    font-size: 20px;
}

.results-image {
    display: none;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 45%;
}

.patrick {
    background-image: url("../pictures/patrick.jpg");
}

.einstein {
    background-image: url("../pictures/einstein.jpg");
}

.prescott {
    background-image: url("../pictures/prescott.jpg");
}

.clever {
    background-image: url("../pictures/clever.png");
}

/*-----------------------------------  Page functionality*/

.button-color1 {
    background-color: #00ff00;
}

.button-color2 {
    background-color: #ff0000;
}

.button-color3 {
    background-color: #ffff00;
}

.button-color4 {
    background-color: #8200ff;
}

.button-color5 {
    background-color: #129cd6;
}

.gameover-button-color {
    background-color: #000;
}

button:focus {
    outline: none;
}
