/* ----------------Menu Buttons */

button:focus {
    outline: none;
}

button {
    margin: 10px auto;
    max-width: 120px;
}

.game-mode {
    color: $white;
    letter-spacing: 1.5px;
    width: 120px;
    display: inline-block;
    font-size: 12px;
    background-image: -webkit-linear-gradient(top, #777777, #000);
    background-image: -moz-linear-gradient(top, #777777, #000);
    background-image: -ms-linear-gradient(top, #777777, #000);
    background-image: -o-linear-gradient(top, #777777, #000);
    background-image: linear-gradient(to bottom, #777777, #000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Do Hyeon', sans-serif;
    padding: 5px;
}

/* ----------------Game Buttons */

.game-button {
    width: 40%;
    height: 100px;
    margin: 10px 5px;
}

#button1,
#button4 {
    border-radius: 100% 40% 100% 40%;
}

#button2,
#button3 {
    border-radius: 40% 100% 40% 100%;
}

.bt1 {
    background-color: $green;
}

.bt2 {
    background-color: $red;
}

.bt3 {
    background-color: $yellow;
}

.bt4 {
    background-color: $blue;
}


.button-color1 {
    background-color: $highlightedGreen;
}

.button-color2 {
    background-color: $highlightedRed;
}

.button-color3 {
    background-color: $highlightedYellow;
}

.button-color4 {
    background-color: $highlightedBlue;
}

.button-color5 {
    background-color: $highlightedCyan;
}

.button-color6 {
    background-color: $highlightedCyan;
}

.button-color7 {
    background-color: $highlightedCyan;
}

.button-color8 {
    background-color: $highlightedCyan;
}

.button-color9 {
    background-color: $highlightedCyan;
}

.button-color10 {
    background-color: $highlightedCyan;
}

.button-color11 {
    background-color: $highlightedCyan;
}

.button-color12 {
    background-color: $highlightedCyan;
}

.button-color13 {
    background-color: $highlightedCyan;
}




/* ----------------Picture Game Buttons */

.button-row {
    display: block;
    height: 83px;
}

.pic-game-button {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 83px;
    border: 0;
}

.dissapear {
    opacity: 0;
}

.pb1 {
    background-color: $green;
}

.pb2 {
    background-color: $red;
}

.pb3 {
    background-color: $yellow;
}

.pb4 {
    background-color: $blue;
}

.pb5 {
    background-color: $aquaMarine;
}

.pb6 {
    background-color: $glitter;
}

.pb7 {
    background-color: $silk;
}

.pb8 {
    background-color: $gainsboro;
}

.pb9 {
    background-color: $antiFlashWhite;
}

.pb10 {
    background-color: $deepCerise;
}

.pb11 {
    background-color: $darkLavinder;
}

.pb12 {
    background-color: $spaceCadet;
}

.pb13 {
    background-color: #ffffff;
}

.gameover-button-color {
    background-color: $black;
}
