/* ----------------Menu Buttons */

button:focus {
    outline: none;
    border:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    box-sizing: border-box;
    margin: 10px auto;
    max-width: 230px;
    cursor: pointer;
}

.game-mode {
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    background-image: -webkit-linear-gradient(top, #777777, #000);
    background-image: -moz-linear-gradient(top, #777777, #000);
    background-image: -ms-linear-gradient(top, #777777, #000);
    background-image: -o-linear-gradient(top, #777777, #000);
    background-image: linear-gradient(to bottom, #777777, #000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Do Hyeon', sans-serif;

    letter-spacing: 1.5px;
    width: 126px;
    font-size: 14px;
    padding: 5px;

    @include large-mobile {
        width: 132px;
    }
    @include tablet {
        width: 160px;
    }
    @include large-tablet {
        width: 200px;
    }
}

/* ----------------Game Buttons */

.button-pair-1,
.button-pair-2 {
    height: 48%;
    width: 100%;
}

.game-button {
    width: 40%;
    height: 92%;
    margin: 0;
    padding: 0;

    @include tablet {
        width: 45%;
    }
}

#button1,
#button4 {
    border-radius: 100% 40% 100% 40%;
}

#button2,
#button3 {
    border-radius: 40% 100% 40% 100%;
}

.bt1 {
    background-color: $green;
}

.bt2 {
    background-color: $red;
}

.bt3 {
    background-color: $yellow;
}

.bt4 {
    background-color: $blue;
}


.button-color1 {
    background-color: $highlightedGreen;
}

.button-color2 {
    background-color: $highlightedRed;
}

.button-color3 {
    background-color: $highlightedYellow;
}

.button-color4 {
    background-color: $highlightedBlue;
}

.button-color13 {
    background-color: $highlightedCyan;
}

.bt1,
.bt3 {
 
     @include tablet {
         margin-right: 15px;
     }
    
}

.bt2,
.bt4 {
 
     @include tablet {
         margin-left: 15px;
     }
    
}

.bt1,
.bt3 {
    
}

/* ----------------Picture Game Buttons */

.button-row {
    display: block;
    font-size: 0;
    height: 33.34%;
}

.pic-game-button {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.pic-game-button {
    height: 100%;
}

.disappear {
    opacity: 0;
}

.pb1 {
    background-color: $green;
}

.pb2 {
    background-color: $red;
}

.pb3 {
    background-color: $yellow;
}

.pb4 {
    background-color: $blue;
}

.pb5 {
    background-color: $aquaMarine;
}

.pb6 {
    background-color: $glitter;
}

.pb7 {
    background-color: $silk;
}

.pb8 {
    background-color: $gainsboro;
}

.pb9 {
    background-color: $antiFlashWhite;
}

.pb10 {
    background-color: $deepCerise;
}

.pb11 {
    background-color: $darkLavinder;
}

.pb12 {
    background-color: $spaceCadet;
}

.pb13 {
    background-color: #ffffff;
}

.gameover-button-color {
    background-color: $black;
}

/* ----------------Settings Buttons */

.settings-buttons-row {
    position: absolute;
    width: 100%;
    z-index: 50;
}

.settings-buttons-row i {
    box-sizing: border-box;
    background-color: $header-blue-1;
    color: $white;
    padding: 4px;
    width: 25px;
    border-radius: 3px;
    margin: 0 10px;
    
    @include tablet {
        width: 40px;
        font-size: 30px;
        margin: 40px;
    }
}

.fa-cog {
    float: left;
}

.fa-question {
    float: right;
}

.close-settings,
.close-instructions {
    background-color: $black;
    color: $white;
}

.close-settings:hover,
.close-instructions:hover {
    background-color: #d7d6d6;
}

.close-settings,
.close-instructions,
.settings-btn {
    box-sizing: border-box;
    margin: 0 5px;
    width: 100px;
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.btn-on {
    background-color: #11ff11 !important;
}

.settings-btn {
    background-color: red;
    color: $white;
    width: 30%;
    max-width: 100px;
    border-radius: 18px;
}

i {
    cursor: pointer;
}

i:hover {
 background-color: $header-blue-2;   
}