/* --- General Sizes Variables & Scaling--- */

/* ----------------------------------------------------------------Grid Sizes */

/* --- widths --- */

$application-max-width: 850px;
$device-width-mob: 320px;

/* --- heights --- */

$min-application-height: 530px;

/* ---------------------------------------------------------------Grid Layout */

html,
body,
.settings-container,
.instructions-container,
.logo {
    height: 100%;
    min-height: $min-application-height;
}

.header-section {
    margin: 0 auto 0;
    min-width: $device-width-mob * 0.9;
    min-height: 6%;
    padding: 10px;
}

.section1-container,
.section2-container {
    min-height: 42%;
}

.section1-container,
.section2-container,
.sliding-box,
.sliding-game-box {
    padding-top: 5px;
    max-width: 100%;
    margin: 0 auto;
}

.section1-container {

    .sliding-box {
        left: 0;
    }
}

.section1-container,
.section2-container {
    position: relative;
    min-width: 100%;

    .sliding-box,
    .sliding-game-box {
        width: 100%;
        height: 100%;
        position: absolute;

        padding: 0 0 0;
    }
}

.section2-container {
    @include desktop {
        min-width: unset;
        width: 40%;
    }
}

.top,
.middle,
.bottom,
.top-sec2,
.middle-sec2, 
.bottom-sec2 {
    height: 30%;
    min-height: 30%;
    padding-top: 18px;
}

.bottom {
    padding-top: 0px;
}

.welcome-area,
.mode-box,
.start-box,
.start-pic-mode-box,
.feedback-box {
    width: 100%;
    margin: 0 auto;
}

.game-area {
    height: 100%;
}

.mode-box {
    z-index: 6;
}

.welcome-box {
    z-index: 5;
}

.start-box,
.start-pic-mode-box {
    z-index: 4;
}

.sgb1 {
    z-index: 3;
    background-color: #fff;
}

.sgb3 {
    z-index: 2;
    background-color: #fff;
}

.picture {
    height: 100%;
}

.sgb2 {
    z-index: 1;
    background-color: #fff;
}

.mode-box,
.start-box,
.feedback-box,
.sgb2,
.sgb3,
.start-pic-mode-box {
    display: none;
}

.start-area {
    margin-bottom: 50px;
    padding: 65px 0 0 0;
    height: 100%;
     @extend %center-container;
    
}

.mode-btn-row {
    max-width: 500px;
    margin: 0 auto;
}

.results-section{
    height: 100%;
}