/*------------------Evaluation Images */

.patrick {
    background-image: url("../pictures/patrick.jpg");
}

.einstein {
    background-image: url("../pictures/einstein.jpg");
}

.trump {
    background-image: url("../pictures/trump.jpg");
}

.clever {
    background-image: url("../pictures/clever.png");
}

/*------------------ Picture game Images */

.picture1 {
    background-image: url("../pictures/spongebob.jpg");
}